.hamburger__button {
  margin: 0;
  padding: 0;
  border: 0;
  position: fixed;
  z-index: 10;
  top: 2rem;
  right: 2rem;
  background-color: transparent;
  cursor: pointer;
  &:focus {
    & > .hamburger__container {
      box-shadow: 0 0 2px 2px #51a7e8;
    }
  }
  &:hover {
    transform: scale(1.2);
    transition: 0.2s;
  }
}

.hamburger__container {
  display: flex;
  align-items: center;
  position: relative;
  width: 35px;
  height: 30px;
}

.hamburger__bars {
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: #fff;
  transition: transform 220ms ease-in-out;
  &:before,
  &:after {
    display: block;
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: #fff;
    content: "";
  }
  &:before {
    top: -12px;
    transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
  }
  &:after {
    bottom: -12px;
    transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
  }
}

.hamburger--active {
  .hamburger__bars {
    transform: rotate(225deg);
    transition: transform 220ms 120ms ease-in-out;
    &:before {
      top: 0;
      background-color: #fff;
      transition: top 100ms ease-out;
    }
    &:after {
      background-color: #fff;
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out;
    }
  }
}

.hamburger,
.hamburger__container {
  &:focus {
    outline: none;
  }
}
