.nav {
  &__links {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(38, 31, 26, 0.95);
    z-index: 8;
    &__list {
      list-style-type: none;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      text-align: center;
      li a {
        font-size: 32px;
        color: #fff;
        text-decoration: none;
        line-height: 2.5;
      }
    }
  }
  &--fallback {
    &__links__list {
      list-style-type: none;
      & li a {
        text-decoration: none;
        float: left;
        margin-left: 1.5rem;
      }
    }
  }
}
