body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1.7;
  color: rgb(44, 42, 42);
}
.heading {
  font-size: 3.5em;
  color: $redish;
  letter-spacing: 0.2em;
  line-height: 0.9em;
  font-weight: 1200;
  width:80%;
  margin:auto;
  text-align:center;
  text-shadow: -0.0075em 0.0075em 0 #fef2f6, 0.035em 0.035em 0 $redish;
  & .next {
    margin-left: 12rem;
  }
}
.shift{
  margin-left: .1rem;
}

.green {
  color: green;
}
.red {
  color: red;
}

.embelished{
  font-family: 'Tangerine', serif;
  font-size: 3.2em;
  text-align: center;
  color: $offwhite;
  font-weight: 500;
  cursor: default;
  line-height: 3.5rem;
}

.sub{
  font-size: 1.2em;
  text-align: center;
  color: $offwhite;
  font-weight: 100;
  cursor:default;
}