body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: rgb(44, 42, 42);
}
.heading {
  font-size: 3.5em;
  color: #e3819a;
  letter-spacing: 0.2em;
  line-height: 0.9em;
  font-weight: 900;
  width:80%;
  margin:auto;
  text-align:center;
  text-shadow: -0.0075em 0.0075em 0 #fef2f6, 0.005em 0.005em 0 #f6a5c1, 0.01em 0.01em 0 #f7aac4, 0.015em 0.015em #f7aec7, 0.02em 0.02em 0 #f8b3ca, 0.025em 0.025em 0 #f8b7cd, 0.03em 0.03em 0 #f8bcd0, 0.035em 0.035em 0 #f9c0d3;
  & .next {
    margin-left: 40%;
  }
}
.shift{
  margin-left: 1%;
}

.green {
  color: green;
}
.red {
  color: red;
}
