.hero {
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 0%,
      rgba(38, 31, 26, 0.8) 100%
    ),
    url("/img/hero-cover.jpg");
  height: 90vh;
  width: 100%;
  background-position: 55% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 80%;

    &__title{
      padding-top: 10rem;
    }
    &__sub{
      margin-top: 0;
      padding-top: 0;
    }
}

.dogs {
  text-align: center;
  margin-top: 10rem;
  background: url("/img/background.jpg");
  background-attachment: fixed;
  line-height: 2.4em;
  &__dog {
    background: url("/img/paper.png");
    font-family: "Handlee", sans-serif;
    background-size: cover;
    font-size: 1.6em;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    transform: rotate(10deg);
    padding: 2rem;
    margin: 5rem 0 5rem 0;
    &__image {
      width: 80%;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
      border-radius: 50%;
    }
    &__name {
      font-weight: bold;
      font-size: 1.7em;
      margin: 1.2rem 0 1.2rem 0;
    }
    &__description {
      list-style-type: none;
    }
  }
}

.lila {
  color: $offblack;
  background: transparent;
  text-align: center;
  position: relative;
  margin-top: 10rem;
  overflow: hidden;
  padding: 4rem 0 8rem 0;
  &:before {
    content: "";
    z-index: -1;
    background: url("/img/background-hearts.jpg");
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(
      50% 30%,
      100% 0,
      100% 60%,
      100% 100%,
      0 100%,
      0% 60%,
      0 0
    );
    height: 100%;
    width: 100%;
  }
  &__img {
    width: 100%;
  }
  &__desc {
    padding: 0 3rem 0 3rem;
    margin-top: 3rem;
    & button{
      padding: 2rem 3rem 2rem 3rem;
      font-size: 1.5em;
      color: $offwhite;
    }
    & a{
      text-decoration: none;
      color:$lightblue;
      &:hover{
        transition: .2s;
        color:$lightblue;
      }
    }
    & .left{
      margin-bottom: 3rem;
      font-size: 1.1em;
    }
    & .right{
      margin-top: 3rem;
      font-size: 1.3em;
      & a{
        font-size: 2.8rem;
      }
    }
  }
}
.contact {
  text-align: center;
  padding: 3rem 0 4rem 0;
  color: $offwhite;
  position: relative;
  background: url("/img/background-ats.jpg");
  background-position-y: -20px;
  &:before {
    content: "";
    position: absolute;
    top: -29px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 30px;
    border-color: transparent transparent $lightblue transparent;
    left: 50%;
    transform: translateX(-50%);
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: $lightblue transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    &__input {
      height:4rem;
      &--textarea {
        resize: none;
        margin-bottom: 2rem;
      }
    }
    & button{
      height:auto;
      padding: 2rem;
      width: 80%;
      margin: auto;
    }
    &__input, & button{
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}
.glide {
  margin-top: 8%;
  &__arrow {
    display: none !important;
  }
}
.footer {

  &__title{
    margin-top: 4rem;
  }
  &__sub{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 4rem;
  }
  text-align: center;
  padding: 4rem 2rem;
  line-height: 3rem;
  background: $darkblue;
  color: white;
}
