*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("/img/background.jpg");
  background-attachment: fixed;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #2c2a2a;
}

.heading {
  font-size: 3.5em;
  color: #e3819a;
  letter-spacing: 0.2em;
  line-height: 0.9em;
  font-weight: 900;
  width: 80%;
  margin: auto;
  text-align: center;
  text-shadow: -0.0075em 0.0075em 0 #fef2f6, 0.005em 0.005em 0 #f6a5c1, 0.01em 0.01em 0 #f7aac4, 0.015em 0.015em #f7aec7, 0.02em 0.02em 0 #f8b3ca, 0.025em 0.025em 0 #f8b7cd, 0.03em 0.03em 0 #f8bcd0, 0.035em 0.035em 0 #f9c0d3;
}

.heading .next {
  margin-left: 40%;
}

.shift {
  margin-left: 1%;
}

.green {
  color: green;
}

.red {
  color: red;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

[data-inviewport="fade-in"] {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

[data-inviewport="fade-in"].is-inViewport {
  opacity: 1;
}

[data-inviewport="slide-in"].is-inViewport {
  margin-left: 0;
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}

.nav__links {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(38, 31, 26, 0.95);
  z-index: 8;
}

.nav__links__list {
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.nav__links__list li a {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  line-height: 2.5;
}

.nav--fallback__links__list {
  list-style-type: none;
}

.nav--fallback__links__list li a {
  text-decoration: none;
  float: left;
  margin-left: 1.5rem;
}

.hamburger__button {
  margin: 0;
  padding: 0;
  border: 0;
  position: fixed;
  z-index: 10;
  top: 2rem;
  right: 2rem;
  background-color: transparent;
  cursor: pointer;
}

.hamburger__button:focus > .hamburger__container {
  -webkit-box-shadow: 0 0 2px 2px #51a7e8;
          box-shadow: 0 0 2px 2px #51a7e8;
}

.hamburger__button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.hamburger__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 35px;
  height: 30px;
}

.hamburger__bars {
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 220ms ease-in-out;
  transition: -webkit-transform 220ms ease-in-out;
  transition: transform 220ms ease-in-out;
  transition: transform 220ms ease-in-out, -webkit-transform 220ms ease-in-out;
}

.hamburger__bars:before, .hamburger__bars:after {
  display: block;
  position: absolute;
  width: 35px;
  height: 3px;
  background-color: #fff;
  content: "";
}

.hamburger__bars:before {
  top: -12px;
  -webkit-transition: top 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: top 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
  transition: top 100ms 250ms ease-in, transform 220ms ease-in-out, -webkit-transform 220ms ease-in-out;
}

.hamburger__bars:after {
  bottom: -12px;
  -webkit-transition: bottom 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: bottom 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
  transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out, -webkit-transform 220ms ease-in-out;
}

.hamburger--active .hamburger__bars {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: -webkit-transform 220ms 120ms ease-in-out;
  transition: -webkit-transform 220ms 120ms ease-in-out;
  transition: transform 220ms 120ms ease-in-out;
  transition: transform 220ms 120ms ease-in-out, -webkit-transform 220ms 120ms ease-in-out;
}

.hamburger--active .hamburger__bars:before {
  top: 0;
  background-color: #fff;
  -webkit-transition: top 100ms ease-out;
  transition: top 100ms ease-out;
}

.hamburger--active .hamburger__bars:after {
  background-color: #fff;
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 100ms ease-out, -webkit-transform 220ms 120ms ease-in-out;
  transition: bottom 100ms ease-out, -webkit-transform 220ms 120ms ease-in-out;
  transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out;
  transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out, -webkit-transform 220ms 120ms ease-in-out;
}

.hamburger:focus,
.hamburger__container:focus {
  outline: none;
}

.hero {
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(38, 31, 26, 0.8) 100%), url("/img/hero-cover.jpg");
  height: 90vh;
  width: 100%;
  background-position: 55% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: 80%;
  border-bottom-right-radius: 80%;
}

.hero__title {
  font-family: 'Tangerine', serif;
  font-size: 6rem;
  text-align: center;
  color: #d2d2d2;
  font-weight: 500;
  padding-top: 20%;
  line-height: 3.5rem;
  cursor: default;
}

.hero__sub {
  font-size: 1.3rem;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  color: #c8c8c8;
  font-weight: 100;
  cursor: default;
}

.dogs {
  text-align: center;
  margin-top: 6rem;
  background: url("/img/background.jpg");
  background-attachment: fixed;
  margin-bottom: 2rem;
  line-height: 2.7rem;
}

.dogs__dog {
  background: url("/img/paper.png");
  font-family: "Handlee", sans-serif;
  background-size: cover;
  font-size: 2rem;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  padding: 2rem;
  margin: 6.5rem 0;
}

.dogs__dog__image {
  width: 80%;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.dogs__dog__name {
  font-weight: bold;
  font-size: 24px;
  margin-top: 1rem;
}

.dogs__dog__description {
  list-style-type: none;
}

.lila {
  color: #292828;
  background: transparent;
  text-align: center;
  position: relative;
  margin-top: 5rem;
  overflow: hidden;
  padding: 4rem 0 8rem 0;
}

.lila:before {
  content: "";
  z-index: -1;
  background: url("/img/background-hearts.jpg");
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(50% 30%, 100% 0, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0);
          clip-path: polygon(50% 30%, 100% 0, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0);
  height: 100%;
  width: 100%;
}

.lila__img {
  width: 100%;
}

.lila__desc {
  padding: 0 3rem 0 3rem;
}

.lila__desc .left {
  margin-bottom: 2rem;
}

.lila__desc .right {
  font-size: 1.8rem;
}

.lila__desc a {
  text-decoration: none;
  color: #3f83b4;
  font-size: 2.8rem;
}

.lila__desc a:hover {
  -webkit-transition: .2s;
  transition: .2s;
  color: #6591b1;
}

#selector3 a {
  font-size: 1.8rem;
}

.contact {
  text-align: center;
  padding: 2rem 0 4rem 0;
  color: #eee;
  position: relative;
  background: url("/img/background-ats.jpg");
  background-position-y: -20px;
}

.contact:before {
  content: "";
  position: absolute;
  top: -29px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 30px;
  border-color: transparent transparent #6591b1 transparent;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact:after {
  content: "";
  position: absolute;
  bottom: 1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 30px;
  border-color: #6591b1 transparent transparent transparent;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(100%);
          transform: translateX(-50%) translateY(100%);
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.contact__form__input {
  margin-bottom: 1rem;
  height: 3rem;
}

.contact__form__input:last-child {
  width: 40%;
  height: 5rem;
  margin: auto;
  font-size: 20px;
}

.contact__form__input--textarea {
  resize: none;
  margin-bottom: 2rem;
}

.glide {
  margin-top: 8%;
}

.glide__arrow {
  display: none !important;
}

.footer {
  padding: 4rem 2rem 4rem 5rem;
  line-height: 3rem;
  background: #443a43;
  color: white;
}

.lightbox__show {
  padding: 3rem 6rem;
  font-size: 24px;
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
}

.lightbox__show:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 3px 3px 5px black;
          box-shadow: 3px 3px 5px black;
}

@media (min-width: 600px) {
  .heading {
    width: 80%;
  }
  [data-inviewport="slide-in"] {
    margin-left: 0;
  }
}

@media (min-width: 840px) {
  [data-inviewport="slide-in"] {
    margin-left: -500px;
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
    -webkit-transition-delay: 500ms;
            transition-delay: 500ms;
  }
  .glide {
    margin-top: 2rem;
  }
  .glide__arrow {
    display: block !important;
    color: black !important;
    border-color: black !important;
    font-size: 20px;
  }
  .glide__arrow--left {
    margin-left: -2%;
  }
  .glide__arrow--right {
    margin-right: -2%;
  }
  .glide__arrow:hover {
    background: white;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .hero {
    -webkit-animation: fadein 1.5s;
            animation: fadein 1.5s;
  }
  .hero__title {
    padding-top: 4%;
    -webkit-animation: fadein 1.5s;
            animation: fadein 1.5s;
    font-size: 10rem;
  }
  .hero__sub {
    -webkit-animation: fadein 2s;
            animation: fadein 2s;
    font-size: 2rem;
    margin-top: 1%;
  }
  .lila__desc {
    font-size: calc(8px + 6 * ((100vw - 320px) / 680));
  }
  .lila__desc .left {
    position: absolute;
    width: 30%;
    top: 40%;
    left: 5%;
  }
  .lila__desc .right {
    position: absolute;
    width: 30%;
    top: 40%;
    right: 5%;
  }
  .lila__img {
    width: 35%;
  }
  .footer__text {
    margin-left: 10%;
    font-size: 1.8rem;
  }
  .contact__form {
    width: 30%;
  }
  .heading {
    word-spacing: 2rem;
    width: 100%;
    text-align: center;
    -webkit-transform: skew(-15deg);
            transform: skew(-15deg);
    padding: 4rem 0;
  }
  .heading .next {
    margin: 0;
  }
  .dogs {
    padding: 0 4rem;
  }
  .dogs__dog {
    -webkit-transform: none;
            transform: none;
    background-size: cover;
    margin-top: 0;
  }
  .dogs__dog__image {
    width: 70%;
  }
}

.glide {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.glide * {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.glide__track {
  overflow: hidden;
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -ms-touch-action: pan-Y;
      touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  will-change: transform;
}

.glide__slides--dragging {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide__slide {
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  white-space: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.glide__slide a {
  -webkit-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.glide__arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide--rtl {
  direction: rtl;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  -webkit-transition: opacity 150ms ease, border 300ms ease-in-out;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 1;
}

.glide__arrow:focus {
  outline: none;
}

.glide__arrow:hover {
  border-color: white;
}

.glide__arrow--left {
  left: 2em;
}

.glide__arrow--right {
  right: 2em;
}

.glide__arrow--disabled {
  opacity: 0.33;
}

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}

.glide__bullet:focus {
  outline: none;
}

.glide__bullet:hover, .glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}

.glide__bullet--active {
  background-color: white;
}

.glide--swipeable {
  cursor: grab;
  cursor: -webkit-grab;
}

.glide--dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
/*# sourceMappingURL=main.css.map */