@import "base/reset";
@import "base/typography";
@import "base/animations";

@import "layouts/navigation";

@import "modules/hamburger";

@import "pages/home";

@import "layouts/desktop";
@import "./../node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "./../node_modules/@glidejs/glide/src/assets/sass/glide.theme";
